@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
	--primary-color: #1c3a41;
	--light-primary-color: #26515a;
	--dark-primary-color: #162b30;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background: #333;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

::-webkit-scrollbar-thumb:active {
	background: #666;
}

::-webkit-scrollbar-track {
	background: #111;
}

::-webkit-scrollbar-corner {
	background: #000;
}

html,
body {
	color: white;
	background-color: #000000;
	font-family: 'Roboto Mono', monospace;
}

a {
	text-decoration: none;
	color: inherit;
}

.custom-anchor {
	text-decoration: underline;
	transition: all 0.3s ease;
}

.custom-anchor:hover {
	color: #0095ff;
}

.bg-color-primary-dark {
	background-color: var(--dark-primary-color);
}

.bg-color-primary {
	background-color: var(--primary-color);
}

.bg-color-primary-light {
	background-color: var(--light-primary-color);
}

.card-skill {
	background-color: black;
	border: solid 5px white;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	height: 270px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: default;
	transition: all 0.3s ease;
}

.card-skill:hover {
	color: black;
	background-color: white;
	scale: 0.9;
}

.card-project {
	background-color: black;
	border: solid 5px white;
	border-radius: 5px;
	height: 390px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	transition: all 0.3s ease;
}

.card-project:hover {
	color: black;
	background-color: white;
	scale: 0.9;
}

.card-project:hover .logo-white {
	filter: invert(1);
}

.logo-white {
	transition: all 0.3s ease;
}

.custom-btn {
	padding: 20px 40px;
	background: black;
	color: white;
	border: 5px solid white;
	font-size: 25px;
	border-radius: 5px;
	transition: all 0.2s ease;
}

.custom-btn:hover {
	padding: 20px 20px;
	color: black;
	background: white;
}

.contact-info {
	background: black;
	border-radius: 5px;
	padding: 10px;
	color: white;
	border: solid 5px black;
	cursor: default;
	width: 100%;
	transition: all 0.2s ease;
}

.contact-info:hover {
	border: solid 5px white;
	transition: all 0.2s ease;
}

.contact-info-anchor {
	transition: all 0.3s ease;
}

.contact-info-anchor:hover {
	color: #0095ff;
}

.button-clipboard-copy {
	border: none;
	background: black;
	color: white;
	padding: 0px 0px;
	transition: all 0.3s ease;
}

.button-clipboard-copy:hover {
	color: #0095ff;
}

/* Box animated border */
.avatar-box {
	position: relative;
	border-radius: 5px;
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: all 0.2s ease;
}

.avatar-box:hover {
	scale: 0.95;
}

.avatar-box::before {
	content: '';
	position: absolute;
	width: 170px;
	height: 143%;
	background: linear-gradient(#00f7ff, #ff00f2);
	animation: rotate 4s linear infinite;
}
.avatar-box::after {
	content: '';
	border-radius: 5px;
	position: absolute;
	background: black;
	background-size: cover;
	inset: 5px;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes typing {
	0% {
		content: '_';
	}
	50% {
		content: '';
	}
	100% {
		content: '_';
	}
}

.blink-span::after {
	content: '';
	animation: typing 1s steps(1) infinite;
}
