@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
	--primary-color: #1c3a41;
	--light-primary-color: #26515a;
	--dark-primary-color: #162b30;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background: #333;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

::-webkit-scrollbar-thumb:active {
	background: #666;
}

::-webkit-scrollbar-track {
	background: #111;
}

::-webkit-scrollbar-corner {
	background: #000;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	color: white;
	background-color: #000000;
	font-family: 'Roboto Mono', monospace;
}

a {
	text-decoration: none;
	color: inherit;
}

.custom-anchor {
	text-decoration: underline;
	transition: all 0.3s ease;
}

.custom-anchor:hover {
	color: #0095ff;
}

.bg-color-primary-dark {
	background-color: var(--dark-primary-color);
}

.bg-color-primary {
	background-color: var(--primary-color);
}

.bg-color-primary-light {
	background-color: var(--light-primary-color);
}

.card-skill {
	background-color: black;
	border: solid 5px white;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	height: 270px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: default;
	transition: all 0.3s ease;
}

.card-skill:hover {
	color: black;
	background-color: white;
	scale: 0.9;
}

.card-project {
	background-color: black;
	border: solid 5px white;
	border-radius: 5px;
	/* height: 390px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	transition: all 0.3s ease;
}

.card-project:hover {
	color: black;
	background-color: white;
	scale: 0.9;
}

.card-project:hover .logo-white {
	filter: invert(1);
}

.logo-white {
	transition: all 0.3s ease;
}

.custom-btn {
	padding: 20px 40px;
	background: black;
	color: white;
	border: 5px solid white;
	font-size: 25px;
	border-radius: 5px;
	transition: all 0.2s ease;
	/* width: 40%; */
}

.custom-btn:hover {
	color: black;
	background: white;
}

.project-item {
	background-color: black;
	color: white;
	transition: all 0.3s ease;
	border-top: 3px solid white !important;
	border-left: 3px solid white !important;
	border-right: 3px solid white !important;
	border-bottom: none;
}

.project-item:last-child {
	border: 3px solid white !important;
}

.project-item:hover {
	background-color: white;
	color: black;
}

.project-item:hover a .logo-white {
	filter: invert(1);
}

.contact-info {
	background: black;
	border-radius: 5px;
	padding: 15px;
	color: white;
	border: solid 5px black;
	cursor: default;
	width: 100%;
	transition: all 0.2s ease;
}

.contact-info:hover {
	border: solid 5px white;
	transition: all 0.2s ease;
}

.contact-info-anchor {
	transition: all 0.3s ease;
}

.contact-info-anchor:hover {
	color: #0095ff;
}

.project-image {
	height: 100%;
}

.skill-image {
	width: 40px;
	height: 40px;
	margin-right: 0.7rem !important;
}

.skill-item {
	background-color: black;
	color: white;
	border-bottom: 1px solid white;
	display: flex;
	align-items: center;
	font-size: 1.25rem !important;
	cursor: default;
}

.skill-item:hover {
	background-color: white;
	color: black;
}

.button-clipboard-copy {
	border: none;
	background: black;
	color: white;
	padding: 0px 0px;
	transition: all 0.3s ease;
}

.button-clipboard-copy:hover {
	color: #0095ff;
}

.link {
	/* transition: color 0.2s ease; */
}

.link:hover {
	color: #0095ff;
}

/* Box animated border */
.avatar-box {
	position: relative;
	border-radius: 5px;
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: all 0.2s ease;
}

.avatar-box:hover {
	scale: 0.95;
}

.avatar-box::before {
	content: '';
	position: absolute;
	width: 170px;
	height: 143%;
	background: linear-gradient(#00f7ff, #ff00f2);
	animation: rotate 4s linear infinite;
}
.avatar-box::after {
	content: '';
	border-radius: 5px;
	position: absolute;
	background: black;
	background-size: cover;
	inset: 5px;
}

.avatar-box::after {
	background-image: url(../img/portfolio/avatar.webp);
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes typing {
	0% {
		content: '_';
	}
	50% {
		content: '';
	}
	100% {
		content: '_';
	}
}

.blink-span::after {
	content: '';
	animation: typing 1s steps(1) infinite;
}

@keyframes shake {
	0% {
		transform: translateX(-5px);
	}
	25% {
		transform: translateX(5px);
	}
	50% {
		transform: translateX(-5px);
	}
	75% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0px);
	}
}

.width75 {
	width: 75%;
	height: 70%;
}

.width100 {
	width: 100%;
	height: 90%;
}

#container-console {
	transition: all 0.4s ease;
}

#flexbox-console-container {
	height: 400px;
}

.text-contact {
	font-size: 1.25rem !important;
}

@media (max-width: 465px) {
	#flexbox-console-container {
		height: 450px;
	}

	.project-image {
		height: 60px;
	}

	.contact-info {
		padding: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.text-contact {
		font-size: 1rem !important;
	}
}
