@import url(https://takosthings.github.io/Fluent-Discord/Fluent-Discord.css);

:root {
  /* DefaultBlue */
  --fluent-accent-hue-sat: 207, 100%;
  --fluent-accent-lightness: 42%;
  --fluent-text-on-accent-color: 0, 0, 0;
  --fluent-acrylic-background: url(https://takosthings.github.io/Fluent-Discord/img/Captured_Motion_27.jpg);
  --fluent-acrylic-background-blur: 24px;
  --fluent-acrylic-background-dimness: 75%;
  --fluent-acrylic-background-saturate: 140%;
  --fluent-guilds-icon-size: 24px;
  --fluent-show-avatar-decorations: none;
}

/**
 * End user options
*/

.border_ba4b17.speaking_ba4b17 {
  box-shadow: inset 0 0 0 2px var(--green-360), inset 0 0 0 3px var(--black-500);
}

.border_ba4b17 {
  border-radius: 4px !important;
}
